{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}

        <section class="checkout spad">
        <div class="container mb-5">
            {% for error in fotm.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
            <div class="checkout__form">
            {% endfor %}
                <form action="{% url 'auth_password_change'%}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h6 class="checkout__title">Password</h6>
                            <div class="checkout__input">
                                <p>Account Pssword <span class="text-danger">{{ form.old_password.errors }}</span></p>
                                <input name="old_password" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>New Password  <span class="text-danger">{{ form.old_password.errors }}</span></p>
                                <input name="new_password1" type="text">

                            </div>
                            <div class="checkout__input">
                                <p>Confirm Password  <span class="text-danger">{{ form.old_password.errors }}</span></p>
                                <input name="new_password2" type="text">
                            </div>
                        </div>
                    </div>
                    <button style="background:#e50d42" class="site-btn float-right">Save</button>

                </form>

            </div>
        </div>
    </section>
{% endblock %}
