{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>{% trans 'Forgot your password?' %}</h2>
								<p>
    {% blocktrans %}
     Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">{% trans 'Forgot Password' %}</h3>
			      		</div>

			      	</div>
                            <form method="post" class="signin-form">
                                {% csrf_token %}
                                <input type="hidden" name="text" value="{{ next }}" />
                    <div class="form-group mb-3">
		            	<label class="label" for="password">{% trans 'New Password' %}</label>
		              <input name="password" type="password" class="form-control" placeholder="{% trans 'New Password' %}" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3">{% trans 'Reset Password' %}</button>
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>


{% endblock %}


{# This is used by django.contrib.auth #}
