{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
<head>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

	<section class="ftco-section">
		<div class="container">
           {% block content %} {% endblock %}
		</div>
	</section>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
