{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<section class="breadcrumb breadcrumb_bg">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="breadcrumb_iner">
<div class="breadcrumb_iner_item">
<h2>{% trans 'Shop Single' %}</h2>
<p>Home <span>-</span> {% trans 'Shop Single' %}</p>
</div>
</div>
</div>
</div>
</div>
</section>



<div class="product_image_area section_padding">
<div class="container">
<div class="row s_product_inner justify-content-between">
<div class="col-lg-7 col-xl-7">
<div class="product_slider_img">
<div id="vertical">
<div data-thumb="{{ object.image.url }}">
<img src="{{ object.image.url }}" />
</div>
<div data-thumb="{{ object.image.url }}">
<img src="{{ object.image.url }}" />
</div>
<div data-thumb="{{ object.image.url }}">
<img src="{{ object.image.url }}" />
</div>
<div data-thumb="{{ object.image.url }}">
<img src="{{ object.image.url }}" />
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-xl-4">
<div class="s_product_text">
<h5>previous <span>|</span> next</h5>
<h3>{{ object.title }}</h3>
<h2>${{ object.real_price }}{% if object.is_discount %} <span class="small" ><strike>{{ object.price }}</strike></span>{% endif %}</h2>
<ul class="list">
<li>
<a class="active" href="#">
<span>Category</span> : {{ object.category }}</a>
</li>
<li>
<a href="#"> <span>Availibility</span> : In Stock</a>
</li>
</ul>
<p>
{{ object.short_description }}
</p>
<div class="card_area d-flex justify-content-between align-items-center">
<div class="product_count">
<span class="inumber-decrement"> <i class="ti-minus"></i></span>
<input class="input-number" type="text" value="1" min="0" max="10">
<span class="number-increment"> <i class="ti-plus"></i></span>
</div>
<a href="#" class="btn_3">add to cart</a>
<a href="{% url 'products:create_wishlist' pk=object.pk %}?next={{ request.path }}?{{ request.GET.urlencode }}" class="like_us">

    {% if request.user in object.wishlist.all %}
   <i class="fas fa-heart"></i>
</svg>
    {% else %}
        <i class="far fa-heart"></i>
    {% endif %}
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="product_description_area">
<div class="container">
<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
</li>
<li class="nav-item">
<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specification</a>
</li>
<li class="nav-item">
<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Comments</a>
</li>
<li class="nav-item">
<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
</li>
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
<p>
    {{ object.long_description |safe }}
</p>
</div>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>
<h5>Width</h5>
</td>
<td>
<h5>128mm</h5>
</td>
</tr>
<tr>
<td>
<h5>Height</h5>
</td>
<td>
<h5>508mm</h5>
</td>
</tr>
<tr>
<td>
<h5>Depth</h5>
</td>
<td>
<h5>85mm</h5>
</td>
</tr>
<tr>
<td>
<h5>Weight</h5>
</td>
<td>
<h5>52gm</h5>
</td>
</tr>
<tr>
<td>
<h5>Quality checking</h5>
</td>
<td>
<h5>yes</h5>
</td>
</tr>
<tr>
<td>
<h5>Freshness Duration</h5>
</td>
<td>
<h5>03days</h5>
</td>
</tr>
<tr>
<td>
<h5>When packeting</h5>
</td>
<td>
<h5>Without touch of hand</h5>
</td>
</tr>
<tr>
<td>
<h5>Each Box contains</h5>
</td>
<td>
<h5>60pcs</h5>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
<div class="row">
<div class="col-lg-6">
<div class="comment_list">
<div class="review_item">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-1.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<h5>12th Feb, 2017 at 05:56 pm</h5>
<a class="reply_btn" href="#">Reply</a>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
<div class="review_item reply">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-2.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<h5>12th Feb, 2017 at 05:56 pm</h5>
<a class="reply_btn" href="#">Reply</a>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
<div class="review_item">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-3.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<h5>12th Feb, 2017 at 05:56 pm</h5>
<a class="reply_btn" href="#">Reply</a>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="review_box">
<h4>Post a comment</h4>
<form class="row contact_form" action="https://preview.colorlib.com/theme/aranoz/contact_process.php" method="post" id="contactForm" novalidate>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
</div>
</div>
<div class="col-md-12 text-right">
<button type="submit" value="submit" class="btn_3">
Submit Now
</button>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
<div class="row">
<div class="col-lg-6">
<div class="row total_rate">
<div class="col-6">
<div class="box_total">
<h5>Overall</h5>
<h4>4.0</h4>
<h6>(03 Reviews)</h6>
</div>
</div>
<div class="col-6">
<div class="rating_list">
<h3>Based on 3 Reviews</h3>
<ul class="list">
<li>
<a href="#">5 Star
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i> 01</a>
</li>
<li>
<a href="#">4 Star
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i> 01</a>
</li>
<li>
<a href="#">3 Star
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i> 01</a>
</li>
<li>
<a href="#">2 Star
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i> 01</a>
</li>
<li>
<a href="#">1 Star
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i> 01</a>
</li>
</ul>
</div>
</div>
</div>
<div class="review_list">
<div class="review_item">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-1.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
<div class="review_item">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-2.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
<div class="review_item">
<div class="media">
<div class="d-flex">
<img src="img/product/single-product/review-3.png" alt="" />
</div>
<div class="media-body">
<h4>Blake Ruiz</h4>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo
</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="review_box">
<h4>Add a Review</h4>
<p>Your Rating:</p>
<ul class="list">
<li>
<a href="#">
<i class="fa fa-star"></i>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-star"></i>
</a>
</li>
</ul>
<p>Outstanding</p>
<form class="row contact_form" action="https://preview.colorlib.com/theme/aranoz/contact_process.php" method="post" novalidate>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" name="name" placeholder="Your Full name" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="email" class="form-control" name="email" placeholder="Email Address" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" name="number" placeholder="Phone Number" />
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<textarea class="form-control" name="message" rows="1" placeholder="Review"></textarea>
</div>
</div>
<div class="col-md-12 text-right">
<button type="submit" value="submit" class="btn_3">
Submit Now
</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}